h1,
p {
  font-family: Lato;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #d2dbdd;
}

.heading {
  width: 100%;
  background-color: #fff;
  color: #868686;
  text-align: center;
  padding: 30px 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-container {
  width: 100%;
  height: auto;
}

.card {
  margin: 6%;
  background-color: #fff;
  width: 21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  float: left;
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.card-img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.info-container {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
  align-items: center;
  text-align: center;
}

.t {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: #868686;
  background: #fff;
  margin-top: 5px;
  margin-bottom: 10px;
}

.card-title {
  background: #fff;
  margin-top: 1px;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5em;
  color: rgb(9, 79, 112);
}

button {
  padding: 5px 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fff;
  color: #868686;
  outline: none;
  border: 1px solid black;
  font-size: 15px;
  letter-spacing: 2px;
  margin-top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) and (min-width: 601px) {
  .card {
    width: 35%;
    margin: 7%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
  .card {
    width: 45%;
    margin-left: 27%;
    margin-right: 27%;
  }
}
@media only screen and (max-width: 499px) {
  .card {
    width: 80%;
    margin-left: 10%;
  }
}
